In [4]:
import os
import math
import gc

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

In [3]:
df = pd.read_csv('../data/processed_data_3.7.csv', compression = 'zip')

In [5]:
feats = [f for f in df.columns if f not in ['TARGET','SK_ID_CURR','SK_ID_BUREAU','SK_ID_PREV','index']]
        
# Split to train and test:
y = df['TARGET']
X = df[feats]
X = X.replace([np.inf, -np.inf], np.nan)
X = X.fillna(X.mean()).clip(-1e11,1e11)

print("X shape: ", X.shape, "    y shape:", y.shape)
print("\nPreparing data...")

training = y.notnull()
testing = y.isnull()

X_train = X.loc[training,:]
X_test = X.loc[testing,:]
y_train = y.loc[training]

# Scale:

X shape:  (356255, 1524)     y shape: (356255,)

Preparing data...

In [6]:
X.head()

,Unnamed: 0,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,...,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MIN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MEAN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MAX,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_SUM,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_VAR,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MIN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MEAN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MAX,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_SUM,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_VAR
0,0.0,24700.5,406597.5,351000.0,202500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.0,0.005439,100.048384,100.051927,100.055862,0.0,0.00232
1,1.0,35698.5,1293502.5,1129500.0,270000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.0,0.005439,100.048384,100.051927,100.055862,0.0,0.00232
2,2.0,6750.0,135000.0,135000.0,67500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.0,0.005439,100.048384,100.051927,100.055862,0.0,0.00232
3,3.0,29686.5,312682.5,297000.0,135000.0,0.006281,0.005808,0.231697,0.304399,0.029995,...,100.066966,100.072858,100.079022,0.0,0.005439,100.048384,100.051927,100.055862,0.0,0.00232
4,4.0,21865.5,513000.0,513000.0,121500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.0,0.005439,100.048384,100.051927,100.055862,0.0,0.00232

In [10]:
X.isnull().values.any()

True

In [18]:
X.isnull().any()

Unnamed: 0                                                          False
AMT_ANNUITY                                                         False
AMT_CREDIT                                                          False
AMT_GOODS_PRICE                                                     False
AMT_INCOME_TOTAL                                                    False
AMT_REQ_CREDIT_BUREAU_DAY                                           False
AMT_REQ_CREDIT_BUREAU_HOUR                                          False
AMT_REQ_CREDIT_BUREAU_MON                                           False
AMT_REQ_CREDIT_BUREAU_QRT                                           False
AMT_REQ_CREDIT_BUREAU_WEEK                                          False
AMT_REQ_CREDIT_BUREAU_YEAR                                          False
APARTMENTS_AVG                                                      False
APARTMENTS_MEDI                                                     False
APARTMENTS_MODE                                                     False
BASEMENTAREA_AVG                                                    False
BASEMENTAREA_MEDI                                                   False
BASEMENTAREA_MODE                                                   False
CNT_CHILDREN                                                        False
CNT_FAM_MEMBERS                                                     False
CODE_GENDER                                                         False
COMMONAREA_AVG                                                      False
COMMONAREA_MEDI                                                     False
COMMONAREA_MODE                                                     False
DAYS_BIRTH                                                          False
DAYS_EMPLOYED                                                       False
DAYS_ID_PUBLISH                                                     False
DAYS_LAST_PHONE_CHANGE                                              False
DAYS_REGISTRATION                                                   False
DEF_30_CNT_SOCIAL_CIRCLE                                            False
DEF_60_CNT_SOCIAL_CIRCLE                                            False
                                                                    ...
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_2_DEF_MIN                       False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_2_DEF_MEAN                      False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_2_DEF_MAX                       False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_2_DEF_SUM                       False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_2_DEF_VAR                       False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DEF_MIN             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DEF_MEAN            False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DEF_MAX             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DEF_SUM             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DEF_VAR             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DEF_MIN             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DEF_MEAN            False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DEF_MAX             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DEF_SUM             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DEF_VAR             False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_DRAWING_DEF_MIN                 False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_DRAWING_DEF_MEAN                False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_DRAWING_DEF_MAX                 False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_DRAWING_DEF_SUM                 False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_DRAWING_DEF_VAR                 False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MIN     False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MEAN    False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MAX     False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_SUM     False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_VAR     False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MIN     False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MEAN    False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MAX     False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_SUM     False
POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_VAR     False
Length: 1524, dtype: bool

In [26]:
X.isnull().any()

TypeError: 'numpy.ndarray' object is not callable

In [29]:
list(X.loc[:, X.isnull().any()].columns)

['NEW_RATIO_BURO_CREDIT_ACTIVE_Active_MEAN',
 'NEW_RATIO_BURO_CREDIT_ACTIVE_Bad debt_MEAN',
 'NEW_RATIO_BURO_CREDIT_ACTIVE_Sold_MEAN',
 'NEW_RATIO_BURO_CREDIT_ACTIVE_nan_MEAN',
 'NEW_RATIO_BURO_CREDIT_CURRENCY_nan_MEAN',
 'NEW_RATIO_BURO_CREDIT_TYPE_Mobile operator loan_MEAN',
 'NEW_RATIO_BURO_CREDIT_TYPE_nan_MEAN',
 'REFUSED_DAYS_LENGTH_MIN',
 'REFUSED_DAYS_LENGTH_MAX',
 'REFUSED_DAYS_LENGTH_MEAN',
 'REFUSED_DAYS_LENGTH_1ST_VERSION_MIN',
 'REFUSED_DAYS_LENGTH_1ST_VERSION_MAX',
 'REFUSED_DAYS_LENGTH_1ST_VERSION_MEAN',
 'REFUSED_DAYS_LENGTH_TERMINATION_MIN',
 'REFUSED_DAYS_LENGTH_TERMINATION_MAX',
 'REFUSED_DAYS_LENGTH_TERMINATION_MEAN',
 'REFUSED_NUM_INSTALMENTS_MIN',
 'REFUSED_NUM_INSTALMENTS_MAX',
 'REFUSED_NUM_INSTALMENTS_MEAN',
 'REFUSED_NUM_INSTALMENTS_1ST_VERSION_MIN',
 'REFUSED_NUM_INSTALMENTS_1ST_VERSION_MAX',
 'REFUSED_NUM_INSTALMENTS_1ST_VERSION_MEAN',
 'REFUSED_NUM_INSTALMENTS_TERMINATION_MIN',
 'REFUSED_NUM_INSTALMENTS_TERMINATION_MAX',
 'REFUSED_NUM_INSTALMENTS_TERMINATION_MEAN',
 'REFUSED_NUM_INSTALMENTS_DRAWING_MIN',
 'REFUSED_NUM_INSTALMENTS_DRAWING_MAX',
 'REFUSED_NUM_INSTALMENTS_DRAWING_MEAN',
 'REFUSED_NUM_INSTALMENTS_1ST_VERSION_DRAWING_MIN',
 'REFUSED_NUM_INSTALMENTS_1ST_VERSION_DRAWING_MAX',
 'REFUSED_NUM_INSTALMENTS_1ST_VERSION_DRAWING_MEAN',
 'REFUSED_NUM_INSTALMENTS_TERMINATION_DRAWING_MIN',
 'REFUSED_NUM_INSTALMENTS_TERMINATION_DRAWING_MAX',
 'REFUSED_NUM_INSTALMENTS_TERMINATION_DRAWING_MEAN',
 'REFUSED_AMT_APPLICATION_NORM_MIN',
 'REFUSED_AMT_APPLICATION_NORM_MAX',
 'REFUSED_AMT_APPLICATION_NORM_MEAN',
 'REFUSED_AMT_CREDIT_NORM_MIN',
 'REFUSED_AMT_CREDIT_NORM_MAX',
 'REFUSED_AMT_CREDIT_NORM_MEAN',
 'REFUSED_AMT_DOWN_PAYMENT_NORM_MIN',
 'REFUSED_AMT_DOWN_PAYMENT_NORM_MAX',
 'REFUSED_AMT_DOWN_PAYMENT_NORM_MEAN',
 'REFUSED_AMT_GOODS_PRICE_PAYMENT_NORM_MIN',
 'REFUSED_AMT_GOODS_PRICE_PAYMENT_NORM_MAX',
 'REFUSED_AMT_GOODS_PRICE_PAYMENT_NORM_MEAN',
 'REFUSED_AMT_ANNUITY_PAYMENT_NORM_MIN',
 'REFUSED_AMT_ANNUITY_PAYMENT_NORM_MAX',
 'REFUSED_AMT_ANNUITY_PAYMENT_NORM_MEAN',
 'REFUSED_RATE_INTEREST_PRIMARY_MIN',
 'REFUSED_RATE_INTEREST_PRIMARY_MAX',
 'REFUSED_RATE_INTEREST_PRIMARY_MEAN',
 'REFUSED_RATE_INTEREST_PRIVILEGED_MIN',
 'REFUSED_RATE_INTEREST_PRIVILEGED_MAX',
 'REFUSED_RATE_INTEREST_PRIVILEGED_MEAN',
 'NEW_RATIO_PREV_DAYS_LENGTH_MIN',
 'NEW_RATIO_PREV_DAYS_LENGTH_MAX',
 'NEW_RATIO_PREV_DAYS_LENGTH_MEAN',
 'NEW_RATIO_PREV_DAYS_LENGTH_SUM',
 'NEW_RATIO_PREV_DAYS_LENGTH_1ST_VERSION_MIN',
 'NEW_RATIO_PREV_DAYS_LENGTH_1ST_VERSION_MAX',
 'NEW_RATIO_PREV_DAYS_LENGTH_1ST_VERSION_MEAN',
 'NEW_RATIO_PREV_DAYS_LENGTH_1ST_VERSION_SUM',
 'NEW_RATIO_PREV_DAYS_LENGTH_TERMINATION_MIN',
 'NEW_RATIO_PREV_DAYS_LENGTH_TERMINATION_MAX',
 'NEW_RATIO_PREV_DAYS_LENGTH_TERMINATION_MEAN',
 'NEW_RATIO_PREV_DAYS_LENGTH_TERMINATION_SUM',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_MIN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_MAX',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_MEAN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_SUM',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_MIN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_MAX',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_MEAN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_SUM',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_MIN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_MAX',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_MEAN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_SUM',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_DRAWING_MIN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_DRAWING_MAX',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_DRAWING_MEAN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_DRAWING_SUM',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_DRAWING_MIN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_DRAWING_MAX',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_DRAWING_MEAN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_1ST_VERSION_DRAWING_SUM',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_DRAWING_MIN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_DRAWING_MAX',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_DRAWING_MEAN',
 'NEW_RATIO_PREV_NUM_INSTALMENTS_TERMINATION_DRAWING_SUM',
 'NEW_RATIO_PREV_AMT_APPLICATION_NORM_MIN',
 'NEW_RATIO_PREV_AMT_APPLICATION_NORM_MAX',
 'NEW_RATIO_PREV_AMT_APPLICATION_NORM_MEAN',
 'NEW_RATIO_PREV_AMT_APPLICATION_NORM_SUM',
 'NEW_RATIO_PREV_AMT_CREDIT_NORM_MIN',
 'NEW_RATIO_PREV_AMT_CREDIT_NORM_MAX',
 'NEW_RATIO_PREV_AMT_CREDIT_NORM_MEAN',
 'NEW_RATIO_PREV_AMT_CREDIT_NORM_SUM',
 'NEW_RATIO_PREV_AMT_DOWN_PAYMENT_NORM_MIN',
 'NEW_RATIO_PREV_AMT_DOWN_PAYMENT_NORM_MAX',
 'NEW_RATIO_PREV_AMT_DOWN_PAYMENT_NORM_MEAN',
 'NEW_RATIO_PREV_AMT_DOWN_PAYMENT_NORM_SUM',
 'NEW_RATIO_PREV_AMT_GOODS_PRICE_PAYMENT_NORM_MIN',
 'NEW_RATIO_PREV_AMT_GOODS_PRICE_PAYMENT_NORM_MAX',
 'NEW_RATIO_PREV_AMT_GOODS_PRICE_PAYMENT_NORM_MEAN',
 'NEW_RATIO_PREV_AMT_GOODS_PRICE_PAYMENT_NORM_SUM',
 'NEW_RATIO_PREV_AMT_ANNUITY_PAYMENT_NORM_MIN',
 'NEW_RATIO_PREV_AMT_ANNUITY_PAYMENT_NORM_MAX',
 'NEW_RATIO_PREV_AMT_ANNUITY_PAYMENT_NORM_MEAN',
 'NEW_RATIO_PREV_AMT_ANNUITY_PAYMENT_NORM_SUM',
 'NEW_RATIO_PREV_RATE_INTEREST_PRIMARY_MIN',
 'NEW_RATIO_PREV_RATE_INTEREST_PRIMARY_MAX',
 'NEW_RATIO_PREV_RATE_INTEREST_PRIMARY_MEAN',
 'NEW_RATIO_PREV_RATE_INTEREST_PRIVILEGED_MIN',
 'NEW_RATIO_PREV_RATE_INTEREST_PRIVILEGED_MAX',
 'NEW_RATIO_PREV_RATE_INTEREST_PRIVILEGED_MEAN']

In [30]:
X = X.drop(list(X.loc[:, X.isnull().any()].columns), axis = 1)

In [31]:
scaler = MinMaxScaler()
scaler.fit(X)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [32]:
X.sample(20)

,Unnamed: 0,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,...,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MIN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MEAN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_MAX,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_SUM,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_1ST_VERSION_DRAWING_DEF_VAR,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MIN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MEAN,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_MAX,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_SUM,POS_FIRST_LATE_IN_LOAN_TERM_DRAWING_TERMINATION_DRAWING_DEF_VAR
203493,203493.0,28417.5,967428.0,693000.0,144000.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,100.058533,100.058533,100.058533,100.058533,0.005439,100.059078,100.059078,100.059078,100.059078,0.002320
66271,66271.0,25258.5,778968.0,558000.0,76500.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
13701,13701.0,44748.0,1125000.0,1125000.0,171000.0,0.000000,0.000000,0.000000,0.000000,1.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
226876,226876.0,17230.5,337500.0,337500.0,112500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
139761,139761.0,37665.0,1288350.0,1125000.0,180000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
211789,211789.0,34294.5,1168452.0,837000.0,121500.0,0.000000,0.000000,0.000000,2.000000,0.000000,...,100.031572,100.031572,100.031572,100.031572,0.005439,100.035928,100.035928,100.035928,100.035928,0.002320
203839,203839.0,23787.0,540000.0,540000.0,216000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
330485,330485.0,49329.0,497448.0,472500.0,130500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
296732,296732.0,38331.0,1078200.0,900000.0,90000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
82038,82038.0,18990.0,720000.0,720000.0,90000.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,15.407835,0.005439,100.048384,100.051927,100.055862,13.746639,0.002320
311995,311995.0,19264.5,312768.0,270000.0,202500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
349043,349043.0,28075.5,547344.0,472500.0,45000.0,0.006281,0.005808,0.231697,0.304399,0.029995,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
112179,112179.0,20979.0,450000.0,450000.0,337500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
177370,177370.0,29331.0,377370.0,315000.0,202500.0,0.000000,0.000000,1.000000,0.000000,0.000000,...,100.005989,100.005989,100.005989,100.005989,0.005439,100.211143,100.211143,100.211143,100.211143,0.002320
2615,2615.0,38988.0,1237500.0,1237500.0,225000.0,0.000000,0.000000,1.000000,4.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
341920,341920.0,12172.5,114682.5,99000.0,157500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
323970,323970.0,31783.5,445095.0,405000.0,121500.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320
132944,132944.0,28278.0,521280.0,450000.0,112500.0,0.000000,0.000000,0.000000,1.000000,0.000000,...,100.129540,100.201353,100.273166,200.402706,0.010314,100.007112,100.009027,100.010942,200.018054,0.000007
156277,156277.0,12375.0,450000.0,450000.0,112500.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.272930,100.272930,100.272930,100.272930,0.005439,100.168286,100.168286,100.168286,100.168286,0.002320
248227,248227.0,22500.0,260640.0,225000.0,135000.0,0.000000,0.000000,3.000000,0.000000,0.000000,...,100.066966,100.072858,100.079022,0.000000,0.005439,100.048384,100.051927,100.055862,0.000000,0.002320

In [3]:
train = pd.read_csv('../data/application_train.csv')
test = pd.read_csv('../data/application_test.csv')

In [4]:
train['OCCUPATION_TYPE'].value_counts()

Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: OCCUPATION_TYPE, dtype: int64

In [5]:
test['OCCUPATION_TYPE'].value_counts()

Laborers                 8655
Sales staff              5072
Core staff               4361
Managers                 3574
Drivers                  2773
High skill tech staff    1854
Accountants              1628
Medicine staff           1316
Security staff            915
Cooking staff             894
Cleaning staff            656
Private service staff     455
Low-skill Laborers        272
Secretaries               213
Waiters/barmen staff      178
Realty agents             138
HR staff                  104
IT staff                   81
Name: OCCUPATION_TYPE, dtype: int64

In [6]:
train['ORGANIZATION_TYPE'].value_counts()

Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: ORGANIZATION_TYPE, dtype: int64

In [7]:
test['ORGANIZATION_TYPE'].value_counts()

Business Entity Type 3    10840
XNA                        9274
Self-employed              5920
Other                      2707
Medicine                   1716
Government                 1508
Business Entity Type 2     1479
Trade: type 7              1303
School                     1287
Construction               1039
Kindergarten               1038
Business Entity Type 1      887
Transport: type 4           884
Trade: type 3               578
Military                    530
Industry: type 9            499
Industry: type 3            489
Security                    472
Transport: type 2           448
Police                      441
Housing                     435
Industry: type 11           416
Bank                        374
Security Ministries         341
Services                    302
Postal                      294
Agriculture                 292
Restaurant                  284
Trade: type 2               242
University                  221
Industry: type 7            217
Industry: type 1            178
Transport: type 3           174
Industry: type 4            167
Electricity                 156
Hotel                       134
Trade: type 6               122
Industry: type 5             97
Telecom                      95
Emergency                    91
Insurance                    80
Industry: type 2             77
Industry: type 12            77
Realtor                      72
Advertising                  71
Trade: type 1                64
Culture                      61
Legal Services               53
Mobile                       45
Cleaning                     43
Transport: type 1            35
Industry: type 6             27
Industry: type 10            24
Trade: type 4                14
Religion                     12
Trade: type 5                 9
Industry: type 13             6
Industry: type 8              3
Name: ORGANIZATION_TYPE, dtype: int64

In [9]:
def missing_values(DataFrame):
    print('The following features are missing values: \n')
    for column in DataFrame.columns:
#         if DataFrame[column].isna().value_counts()[0] < len(DataFrame):
        no_missing = (np.shape(DataFrame)[0] - DataFrame[column].isna().value_counts()[0])/np.shape(DataFrame)[0]
        print('{} missing value counts: {:.2f}% of column missing'.format(column, no_missing*100))

In [10]:
missing_values(train)

The following features are missing values:

SK_ID_CURR missing value counts: 0.00% of column missing
TARGET missing value counts: 0.00% of column missing
NAME_CONTRACT_TYPE missing value counts: 0.00% of column missing
CODE_GENDER missing value counts: 0.00% of column missing
FLAG_OWN_CAR missing value counts: 0.00% of column missing
FLAG_OWN_REALTY missing value counts: 0.00% of column missing
CNT_CHILDREN missing value counts: 0.00% of column missing
AMT_INCOME_TOTAL missing value counts: 0.00% of column missing
AMT_CREDIT missing value counts: 0.00% of column missing
AMT_ANNUITY missing value counts: 0.00% of column missing
AMT_GOODS_PRICE missing value counts: 0.09% of column missing
NAME_TYPE_SUITE missing value counts: 0.42% of column missing
NAME_INCOME_TYPE missing value counts: 0.00% of column missing
NAME_EDUCATION_TYPE missing value counts: 0.00% of column missing
NAME_FAMILY_STATUS missing value counts: 0.00% of column missing
NAME_HOUSING_TYPE missing value counts: 0.00% of column missing
REGION_POPULATION_RELATIVE missing value counts: 0.00% of column missing
DAYS_BIRTH missing value counts: 0.00% of column missing
DAYS_EMPLOYED missing value counts: 0.00% of column missing
DAYS_REGISTRATION missing value counts: 0.00% of column missing
DAYS_ID_PUBLISH missing value counts: 0.00% of column missing
OWN_CAR_AGE missing value counts: 65.99% of column missing
FLAG_MOBIL missing value counts: 0.00% of column missing
FLAG_EMP_PHONE missing value counts: 0.00% of column missing
FLAG_WORK_PHONE missing value counts: 0.00% of column missing
FLAG_CONT_MOBILE missing value counts: 0.00% of column missing
FLAG_PHONE missing value counts: 0.00% of column missing
FLAG_EMAIL missing value counts: 0.00% of column missing
OCCUPATION_TYPE missing value counts: 31.35% of column missing
CNT_FAM_MEMBERS missing value counts: 0.00% of column missing
REGION_RATING_CLIENT missing value counts: 0.00% of column missing
REGION_RATING_CLIENT_W_CITY missing value counts: 0.00% of column missing
WEEKDAY_APPR_PROCESS_START missing value counts: 0.00% of column missing
HOUR_APPR_PROCESS_START missing value counts: 0.00% of column missing
REG_REGION_NOT_LIVE_REGION missing value counts: 0.00% of column missing
REG_REGION_NOT_WORK_REGION missing value counts: 0.00% of column missing
LIVE_REGION_NOT_WORK_REGION missing value counts: 0.00% of column missing
REG_CITY_NOT_LIVE_CITY missing value counts: 0.00% of column missing
REG_CITY_NOT_WORK_CITY missing value counts: 0.00% of column missing
LIVE_CITY_NOT_WORK_CITY missing value counts: 0.00% of column missing
ORGANIZATION_TYPE missing value counts: 0.00% of column missing
EXT_SOURCE_1 missing value counts: 56.38% of column missing
EXT_SOURCE_2 missing value counts: 0.21% of column missing
EXT_SOURCE_3 missing value counts: 19.83% of column missing
APARTMENTS_AVG missing value counts: 50.75% of column missing
BASEMENTAREA_AVG missing value counts: 58.52% of column missing
YEARS_BEGINEXPLUATATION_AVG missing value counts: 48.78% of column missing
YEARS_BUILD_AVG missing value counts: 66.50% of column missing
COMMONAREA_AVG missing value counts: 69.87% of column missing
ELEVATORS_AVG missing value counts: 53.30% of column missing
ENTRANCES_AVG missing value counts: 50.35% of column missing
FLOORSMAX_AVG missing value counts: 49.76% of column missing
FLOORSMIN_AVG missing value counts: 67.85% of column missing
LANDAREA_AVG missing value counts: 59.38% of column missing
LIVINGAPARTMENTS_AVG missing value counts: 68.35% of column missing
LIVINGAREA_AVG missing value counts: 50.19% of column missing
NONLIVINGAPARTMENTS_AVG missing value counts: 69.43% of column missing
NONLIVINGAREA_AVG missing value counts: 55.18% of column missing
APARTMENTS_MODE missing value counts: 50.75% of column missing
BASEMENTAREA_MODE missing value counts: 58.52% of column missing
YEARS_BEGINEXPLUATATION_MODE missing value counts: 48.78% of column missing
YEARS_BUILD_MODE missing value counts: 66.50% of column missing
COMMONAREA_MODE missing value counts: 69.87% of column missing
ELEVATORS_MODE missing value counts: 53.30% of column missing
ENTRANCES_MODE missing value counts: 50.35% of column missing
FLOORSMAX_MODE missing value counts: 49.76% of column missing
FLOORSMIN_MODE missing value counts: 67.85% of column missing
LANDAREA_MODE missing value counts: 59.38% of column missing
LIVINGAPARTMENTS_MODE missing value counts: 68.35% of column missing
LIVINGAREA_MODE missing value counts: 50.19% of column missing
NONLIVINGAPARTMENTS_MODE missing value counts: 69.43% of column missing
NONLIVINGAREA_MODE missing value counts: 55.18% of column missing
APARTMENTS_MEDI missing value counts: 50.75% of column missing
BASEMENTAREA_MEDI missing value counts: 58.52% of column missing
YEARS_BEGINEXPLUATATION_MEDI missing value counts: 48.78% of column missing
YEARS_BUILD_MEDI missing value counts: 66.50% of column missing
COMMONAREA_MEDI missing value counts: 69.87% of column missing
ELEVATORS_MEDI missing value counts: 53.30% of column missing
ENTRANCES_MEDI missing value counts: 50.35% of column missing
FLOORSMAX_MEDI missing value counts: 49.76% of column missing
FLOORSMIN_MEDI missing value counts: 67.85% of column missing
LANDAREA_MEDI missing value counts: 59.38% of column missing
LIVINGAPARTMENTS_MEDI missing value counts: 68.35% of column missing
LIVINGAREA_MEDI missing value counts: 50.19% of column missing
NONLIVINGAPARTMENTS_MEDI missing value counts: 69.43% of column missing
NONLIVINGAREA_MEDI missing value counts: 55.18% of column missing
FONDKAPREMONT_MODE missing value counts: 68.39% of column missing
HOUSETYPE_MODE missing value counts: 50.18% of column missing
TOTALAREA_MODE missing value counts: 48.27% of column missing
WALLSMATERIAL_MODE missing value counts: 50.84% of column missing
EMERGENCYSTATE_MODE missing value counts: 47.40% of column missing
OBS_30_CNT_SOCIAL_CIRCLE missing value counts: 0.33% of column missing
DEF_30_CNT_SOCIAL_CIRCLE missing value counts: 0.33% of column missing
OBS_60_CNT_SOCIAL_CIRCLE missing value counts: 0.33% of column missing
DEF_60_CNT_SOCIAL_CIRCLE missing value counts: 0.33% of column missing
DAYS_LAST_PHONE_CHANGE missing value counts: 0.00% of column missing
FLAG_DOCUMENT_2 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_3 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_4 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_5 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_6 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_7 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_8 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_9 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_10 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_11 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_12 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_13 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_14 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_15 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_16 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_17 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_18 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_19 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_20 missing value counts: 0.00% of column missing
FLAG_DOCUMENT_21 missing value counts: 0.00% of column missing
AMT_REQ_CREDIT_BUREAU_HOUR missing value counts: 13.50% of column missing
AMT_REQ_CREDIT_BUREAU_DAY missing value counts: 13.50% of column missing
AMT_REQ_CREDIT_BUREAU_WEEK missing value counts: 13.50% of column missing
AMT_REQ_CREDIT_BUREAU_MON missing value counts: 13.50% of column missing
AMT_REQ_CREDIT_BUREAU_QRT missing value counts: 13.50% of column missing
AMT_REQ_CREDIT_BUREAU_YEAR missing value counts: 13.50% of column missing

In [21]:
train[['ORGANIZATION_TYPE', 'OCCUPATION_TYPE', 'SK_ID_CURR', 'DAYS_EMPLOYED']][(train['ORGANIZATION_TYPE']=='XNA')]

       ORGANIZATION_TYPE OCCUPATION_TYPE  SK_ID_CURR  DAYS_EMPLOYED
8                    XNA             NaN      100011         365243
11                   XNA             NaN      100015         365243
23                   XNA             NaN      100027         365243
38                   XNA             NaN      100045         365243
43                   XNA             NaN      100050         365243
46                   XNA             NaN      100053         365243
54                   XNA             NaN      100062         365243
56                   XNA             NaN      100064         365243
62                   XNA             NaN      100073         365243
79                   XNA             NaN      100094         365243
81                   XNA             NaN      100096         365243
84                   XNA             NaN      100099         365243
99                   XNA             NaN      100118         365243
105                  XNA             NaN      100124         365243
106                  XNA             NaN      100125         365243
108                  XNA             NaN      100127         365243
117                  XNA             NaN      100137         365243
118                  XNA             NaN      100138         365243
125                  XNA             NaN      100146         365243
140                  XNA             NaN      100162         365243
143                  XNA             NaN      100165         365243
156                  XNA             NaN      100183         365243
157                  XNA             NaN      100185         365243
158                  XNA             NaN      100186         365243
173                  XNA             NaN      100202         365243
174                  XNA             NaN      100203         365243
175                  XNA             NaN      100204         365243
185                  XNA             NaN      100215         365243
213                  XNA             NaN      100248         365243
220                  XNA             NaN      100257         365243
...                  ...             ...         ...            ...
307369               XNA             NaN      456094         365243
307370               XNA             NaN      456095         365243
307386               XNA             NaN      456112         365243
307390               XNA             NaN      456121         365243
307392               XNA             NaN      456125         365243
307393               XNA             NaN      456126         365243
307398               XNA             NaN      456131         365243
307401               XNA             NaN      456134         365243
307402               XNA             NaN      456135         365243
307404               XNA             NaN      456137         365243
307405               XNA             NaN      456138         365243
307406               XNA             NaN      456139         365243
307417               XNA             NaN      456150         365243
307420               XNA             NaN      456153         365243
307422               XNA             NaN      456155         365243
307424               XNA             NaN      456157         365243
307426               XNA             NaN      456159         365243
307430               XNA             NaN      456163         365243
307433               XNA             NaN      456171         365243
307434               XNA             NaN      456172         365243
307441               XNA             NaN      456179         365243
307443               XNA             NaN      456181         365243
307445               XNA             NaN      456183         365243
307450               XNA             NaN      456188         365243
307463               XNA             NaN      456203         365243
307469               XNA             NaN      456209         365243
307483               XNA             NaN      456227         365243
307487               XNA             NaN      456231         365243
307505               XNA             NaN      456249         365243
307507               XNA             NaN      456252         365243

[55374 rows x 4 columns]

In [22]:
train[(train['ORGANIZATION_TYPE']=='XNA')]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
38,100045,0,Cash loans,F,N,Y,0,99000.000,247275.0,17338.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
43,100050,0,Cash loans,F,N,Y,0,108000.000,746280.0,42970.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
46,100053,0,Cash loans,F,N,Y,0,202500.000,305221.5,17649.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
54,100062,0,Cash loans,M,Y,N,0,81000.000,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
56,100064,0,Cash loans,F,N,N,0,67500.000,298728.0,15381.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
62,100073,0,Cash loans,M,Y,Y,0,324000.000,1130760.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
79,100094,0,Cash loans,F,N,Y,0,108000.000,113760.0,5301.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
81,100096,1,Cash loans,F,N,Y,0,81000.000,252000.0,14593.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
84,100099,0,Cash loans,F,N,Y,0,360000.000,733315.5,41076.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
99,100118,0,Cash loans,F,N,Y,0,90000.000,675000.0,26541.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
105,100124,0,Cash loans,M,N,Y,0,225000.000,448272.0,28647.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
106,100125,0,Cash loans,F,N,N,0,126000.000,263686.5,26208.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
108,100127,0,Cash loans,M,N,Y,0,112500.000,52128.0,5341.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
117,100137,0,Cash loans,F,Y,Y,0,225000.000,891072.0,45625.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
118,100138,0,Cash loans,M,Y,N,0,135000.000,824823.0,29223.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
125,100146,0,Cash loans,M,Y,Y,0,117000.000,327024.0,12456.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
140,100162,0,Cash loans,F,N,Y,0,112500.000,547344.0,18216.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
143,100165,0,Cash loans,F,Y,Y,0,175500.000,1293502.5,35568.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
156,100183,0,Cash loans,F,N,Y,0,103500.000,239850.0,23494.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
157,100185,0,Cash loans,M,N,Y,0,58500.000,187704.0,10903.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
158,100186,0,Cash loans,F,N,Y,0,117000.000,269550.0,13095.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
173,100202,0,Cash loans,F,N,N,0,67500.000,127350.0,6597.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
174,100203,0,Cash loans,F,N,N,0,54000.000,119925.0,11097.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
175,100204,0,Cash loans,F,N,Y,1,81000.000,532494.0,30699.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
185,100215,0,Cash loans,F,Y,N,0,90000.000,227520.0,8172.0,...,0,0,0,0,0.0,0.0,0.0,5.0,0.0,5.0
213,100248,0,Cash loans,F,N,Y,0,90000.000,808650.0,23643.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
220,100257,0,Cash loans,F,N,Y,0,90000.000,312768.0,16119.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307369,456094,0,Cash loans,M,N,Y,0,112500.000,1546020.0,42642.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307370,456095,0,Cash loans,F,N,Y,0,135000.000,986553.0,28975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,6.0
307386,456112,1,Cash loans,F,N,Y,0,135000.000,221832.0,17653.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
307390,456121,0,Cash loans,F,N,Y,0,81000.000,314100.0,15111.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307392,456125,0,Cash loans,F,N,Y,0,315000.000,1391130.0,77809.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307393,456126,0,Cash loans,F,Y,Y,0,202500.000,544500.0,15921.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307398,456131,0,Cash loans,F,N,Y,0,69300.000,229500.0,8239.5,...,0,0,0,0,0.0,0.0,1.0,0.0,2.0,3.0
307401,456134,0,Cash loans,F,Y,Y,0,135000.000,1718473.5,47385.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307402,456135,0,Revolving loans,F,N,Y,0,157500.000,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307404,456137,0,Cash loans,F,N,Y,0,190350.000,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307405,456138,0,Cash loans,M,N,Y,0,49500.000,432661.5,26419.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307406,456139,0,Cash loans,F,N,Y,0,90000.000,203760.0,13747.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307417,456150,0,Cash loans,F,N,N,0,90000.000,270000.0,16645.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307420,456153,0,Cash loans,F,N,N,0,157500.000,1282500.0,48847.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307422,456155,0,Cash loans,F,N,Y,0,202500.000,1971072.0,68643.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307424,456157,0,Cash loans,F,N,Y,0,193500.000,284400.0,16326.0,...,0,0,0,0,0.0,0.0,0.0,0.0,4.0,4.0
307426,456159,0,Cash loans,F,N,Y,0,112500.000,518562.0,25078.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
307430,456163,0,Cash loans,F,N,Y,0,135000.000,170640.0,11034.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307433,456171,1,Cash loans,M,N,Y,0,50400.000,113760.0,7731.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307434,456172,0,Cash loans,F,Y,Y,0,76500.000,163098.0,16015.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307441,456179,0,Cash loans,F,N,Y,0,126000.000,254700.0,24939.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307443,456181,0,Cash loans,F,N,N,0,76500.000,1240614.0,44559.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307445,456183,0,Cash loans,F,Y,Y,0,180000.000,990000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307450,456188,0,Cash loans,F,N,Y,0,54000.000,315000.0,21924.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307463,456203,0,Cash loans,F,N,Y,0,180000.000,247275.0,17338.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
307469,456209,0,Cash loans,F,N,Y,0,202500.000,703728.0,29943.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307483,456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307487,456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
binary_features = ['FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
                        'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
                        'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 
                        'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
                        'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
                        'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_11', 
                        'FLAG_DOCUMENT_18', 'CODE_GENDER']

for feature in binary_features:
    train[feature], uniques = pd.factorize(train[feature])

In [24]:
train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,0,0,0,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,1,0,1,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,0,1,0,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,1,0,0,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,0,0,0,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,0,0,0,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,1,1,0,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,0,1,0,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,1,0,0,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,0,0,0,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,1,0,0,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,1,0,0,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,1,0,0,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,0,1,1,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,1,0,0,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,0,1,0,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,0,0,1,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,1,0,0,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,1,0,0,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,1,0,0,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,0,1,0,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,1,1,0,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,1,0,1,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,1,0,0,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,0,1,1,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,1,0,0,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,1,0,0,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,Cash loans,0,0,0,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,0,1,0,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,Revolving loans,0,0,0,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,Cash loans,0,0,0,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,Cash loans,1,1,0,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,Cash loans,1,0,0,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,Cash loans,1,1,1,0,540000.000,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,456229,0,Revolving loans,1,0,0,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,Cash loans,1,1,0,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,Cash loans,0,0,0,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,Cash loans,1,0,1,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,Cash loans,1,0,0,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,Cash loans,0,0,0,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,Cash loans,0,1,0,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,0,1,0,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,Cash loans,1,0,0,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,Cash loans,0,1,1,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,0,1,1,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,Revolving loans,1,0,1,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,Cash loans,1,1,0,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,Cash loans,0,1,0,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,Cash loans,1,0,0,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,Cash loans,1,0,0,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,Cash loans,1,0,0,3,81000.000,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,Cash loans,1,0,0,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,Cash loans,1,0,0,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,Cash loans,1,0,0,0,153000.000,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,1,0,0,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,Cash loans,0,0,1,0,157500.000,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,1,0,0,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,1,0,0,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,1,0,0,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,1,0,1,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [26]:
prev = pd.read_csv('../data/previous_application.csv')

In [29]:
prev.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
train = train.merge(prev, on = 'SK_ID_CURR', how = 'left')

In [28]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100002,1,Cash loans,0,0,0,0,202500.0,406597.5,24700.5,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,100003,0,Cash loans,1,0,1,0,270000.0,1293502.5,35698.5,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
2,100003,0,Cash loans,1,0,1,0,270000.0,1293502.5,35698.5,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
3,100003,0,Cash loans,1,0,1,0,270000.0,1293502.5,35698.5,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0
4,100004,0,Revolving loans,0,1,0,0,67500.0,135000.0,6750.0,...,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0

In [31]:
list(train.columns)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE_x',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT_x',
 'AMT_ANNUITY_x',
 'AMT_GOODS_PRICE_x',
 'NAME_TYPE_SUITE_x',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START_x',
 'HOUR_APPR_PROCESS_START_x',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'SK_ID_PREV',
 'NAME_CONTRACT_TYPE_y',
 'AMT_ANNUITY_y',
 'AMT_APPLICATION',
 'AMT_CREDIT_y',
 'AMT_DOWN_PAYMENT',
 'AMT_GOODS_PRICE_y',
 'WEEKDAY_APPR_PROCESS_START_y',
 'HOUR_APPR_PROCESS_START_y',
 'FLAG_LAST_APPL_PER_CONTRACT',
 'NFLAG_LAST_APPL_IN_DAY',
 'RATE_DOWN_PAYMENT',
 'RATE_INTEREST_PRIMARY',
 'RATE_INTEREST_PRIVILEGED',
 'NAME_CASH_LOAN_PURPOSE',
 'NAME_CONTRACT_STATUS',
 'DAYS_DECISION',
 'NAME_PAYMENT_TYPE',
 'CODE_REJECT_REASON',
 'NAME_TYPE_SUITE_y',
 'NAME_CLIENT_TYPE',
 'NAME_GOODS_CATEGORY',
 'NAME_PORTFOLIO',
 'NAME_PRODUCT_TYPE',
 'CHANNEL_TYPE',
 'SELLERPLACE_AREA',
 'NAME_SELLER_INDUSTRY',
 'CNT_PAYMENT',
 'NAME_YIELD_GROUP',
 'PRODUCT_COMBINATION',
 'DAYS_FIRST_DRAWING',
 'DAYS_FIRST_DUE',
 'DAYS_LAST_DUE_1ST_VERSION',
 'DAYS_LAST_DUE',
 'DAYS_TERMINATION',
 'NFLAG_INSURED_ON_APPROVAL']